* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body {
    background-color: #f6f8fc;
}
.content {
    height: 100vh;
    width: 100vh;
    padding: 1rem;
    background-color: white;
   
}

@media screen and (min-width: 992px) { 
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
     }
}

.pokemons {
   display: grid;
   grid-template-columns: 1fr 1fr;
   list-style: none;
   padding: 0;
   margin: 0;

}
@media screen and (min-width: 992px) { 
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
     }
}

.pokemon {
    flex-direction: column;
    display: flex;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
    font-size: .825rem;
}

.pokemon .name {
    color:#fff;
    margin-bottom: .25rem;
    
}
.pokemon .number {
    font-size: 25px;
    color:black;
    opacity: .3;
    text-align: right ;
}
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .5rem  1rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: 5rem;
}

.pokemon.detail img {
    max-width: 100%;
    height: 70px;
}